<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-4 py-md-3">
            <h2 class="title">About us</h2>
            <ul class="breadcrumbs-custom-path">
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About page</li>
            </ul>
        </div>
    </div>
</section>

<section class="w3l-index3" id="whatwedo">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-5 left-wthree-img">
                    <div class="position-relative">
                        <img src="~/assets/images/about1.jpg" alt="" class="img-fluid" />
                        <img src="~/assets/images/cross.png" class="img-fluid pos" alt="dots">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 mt-lg-0 mt-5 pl-lg-0 align-self">
                    <h6 class="title-small">What we do</h6>
                    <h3 class="title-big">We work efficiently with the great bulk of services</h3>
                    <p class="mt-4">
                        We take a structured approach to telecommunications.
                        Our development process ensures on-time and on-budget delivery of every project.
                        Our fibre infrastructure will increase the value of your building since with all the
                        services being offered through our fibre infrastructure, you have a smart building.
                    </p>
                    <ul class="w3l-right-book mt-4">
                        <li><span class="fa fa-check" aria-hidden="true"></span>Smart Intercom systems</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>DSTV through fibre</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>CCTV</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Smart Electric Metres</li>
                    </ul>
                    <a href="about.html" class="btn btn-style btn-primary mt-4">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /bottom-grids-->
<section class="w3l-bottom-grids py-5" id="steps">
    <div class="container py-lg-3 py-md-3 py-md-3">
        <span class="title-small text-center">How we work</span>
        <h3 class="title-big text-center mb-md-5 mb-4">Steps of our work</h3>
        <div class="grids-area-hny main-cont-wthree-fea row">
            <div class="col-lg-3 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-microphone"></span>
                    <h4><a href="#feature" class="title-head">1. Initial Planning</a></h4>
                    <p>
                        Our team will develop detailed design and technical specifications.
                        The fibre installation process is guided by these specifications.
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-bar-chart"></span>
                    <h4><a href="#feature" class="title-head">2. Development </a></h4>
                    <p>
                        The technical side of the telecommunications development process begins.
                        We will install fiber optic equipment.

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-line-chart"></span>
                    <h4><a href="#feature" class="title-head">3. Testing </a></h4>
                    <p>
                        A variety of tools will be used by our Quality Assurance team to
                        assess the performance of your site, insuring it's reliability.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 grids-feature">
                <div class="area-box">
                    <span class="fa fa-cog "></span>
                    <h4><a href="#feature" class="title-head">4. Deployment & Optimization </a></h4>
                    <p>
                        Upon release, we will deploy your fibre service to your building where
                        it will be maintained and supported monthly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //bottom-grids-->
<!-- home page video popup section -->
<section class="w3l-index5" id="about">
    <div class="new-block py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="middle-section text-center">
                <div class="section-width">
                    <h3 class="title-big">We work efficiently with the great bulk of services</h3>
                    <p class="mt-3">
                        The services mentioned above are
                        just a few services that can be run on the fibre infrastructure compared
                        to what is attainable with running our fibre infrastructure
                    </p>
                </div>
                <div class="history-info mt-5">
                    <div class="position-relative">
                        <img src="~/assets/images/image1.jpg" class="img-fluid radius-image video-popup-image"
                             alt="video-popup">


                    </div>
                </div>
            </div>
</section>
<!-- //home page video popup section -->

<section class="w3l-index3 w3l-grids-3">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <h3 class="title-big">Challenges is our passion</h3>
                    <p class="mt-4">
                        With our commitment to delivering high-quality workmanship,
                        backed by experienced and knowledgeable staff who can install,
                        deliver and handle any network service, we aim to be your preferred network service provider.
                    </p>
                    <ul class="cont-4 mt-4">
                        <li><span class="fa fa-check" aria-hidden="true"></span>Professional support</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>High-quality consultations;</li>
                        <li><span class="fa fa-check" aria-hidden="true"></span>Best specialists</li>
                    </ul>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 left-wthree-img pr-3 pb-0">
                    <div class="position-relative">
                        <img src="~/assets/images/image3.jpg" alt="" class="img-fluid radius-image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-content-6" id="skills">
    <!-- /content-6-section -->
    <div class="content-6-mian py-5">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="content-info-in row">
                <div class="content-gd col-lg-6">
                    <img src="~/assets/images/image2.jpg" alt="" class="img-fluid radius-image" />
                </div>
                <div class="content-gd col-lg-6 mt-lg-0 mt-5 align-self">
                    <h3 class="title-big mb-sm-3 mb-2">Why choose us?</h3>
                    <p class="mb-md-5 mb-4">
                        With fibre optic cables connecting businesses,
                        such a network is projected to last for 30 years
                        and can handle bandwidth requirements for today and the future.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</section>
<!-- middle -->
<div class="middle py-5">
    <div class="container py-md-5 py-3">
        <div class="welcome-left text-center">
            <h3 class="title-big">Are you ready to grow up your business? Learn more about our work! Join us here.</h3>
            <a href="#started" class="btn btn-style btn-light mt-sm-5 mt-4 mr-sm-2 mr-1">Get started</a>
            <a href="@Url.Action("Contact", "Home")" class="btn btn-style btn-dark mt-sm-5 mt-4">Contact Us</a>
        </div>
    </div>
</div>
<!-- //middle -->