
<!-- banner section -->
<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-4">
        <div class="py-lg-5 py-4 mt-lg-4">
            <div class="banner-info-grid mt-lg-5">
                <h3 class="mb-4">Thank You For Contacting JPSEM NETWORKERS</h3>
                <p>A Response to your request shall be given within the hour please check your email</p>
                <!--  <a class="btn btn-primary btn-style mt-sm-5 mt-4 mr-sm-2 mr-1" href="#more"> Know More </a> -->
                <!-- <a class="btn transparent-btn btn-style mt-sm-5 mt-4" href="about.html"> Get Started </a> -->
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Scroll</a>
                </section>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->